{% extends 'base.html' %}
{% block title %}Intercom{% endblock %}
{% block content %}

		<h1>Enter announcement</h1>
		<p>
			{{ ip }} {{ port }}
		</p>
		<form class="form" id="messge-form" action="{% url 'intercom' %}" method="post">
			{% csrf_token %}
			<div class="form-group">
				<label><textarea rows="6" cols="75" name="msg" id="msg" class="form-control" maxlength="5000" required></textarea></label>
			</div>
			<div class="form-group">
				<input type="submit" value="Send announcement" class="btn btn-success">
			</div>
		</form>
{% endblock %}
